.OpenDoor2
{
    text-align: left;
    font-family: 'Poiret One' , cursive;
    text-decoration: underline;
    font-size: 35px;
    margin-left: 5%;
    margin-top: 10px;
    
}
.OpenDoor
{
    text-align: center;
    margin-top: 0.5%;
    font-family: 'Poiret One' , cursive;
    text-decoration: underline;
    
}


h2
{
    
    font-family: 'Alegreya', serif;
    margin-top: 5%;
    margin-left: 5%;
    
}

.side-text1
{
    
    margin-left: 5%;
    margin-right: 55%;
    font-family: 'Alegreya', serif;
    font-size: 120%;
}

.side-text
{
    margin-left: 5%;
    margin-right: 55%;
    margin-top: -1.7%;
    font-family: 'Alegreya', serif;
    font-size: 120%;
}


#image
{
    position: relative;
    z-index: -1;
    height: 450px;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
}

#content
{
    height: 750px;
    width: 100%;
    margin-top: -10px;
    background-color: white;
    position: relative;
    z-index: 1;
    
}

nav ul
{
    color: whitesmoke;
    letter-spacing: 0.5px;
    overflow: hidden;
    text-align: center;
    margin-top: -55px;
    margin-left: 100px;
    margin-right: 10px;
    
}

a 
{
    text-decoration: none;
    color: black;
    
}

nav ul li
{
    display: inline-block;
    padding-right: 25px;
    font-family: 'Droid Sans' , sans-serif;
    font-size: 25px;
}

.main{
    
    margin-left: -100px;

}

.header
{
    box-shadow: 0px 4px 4px -5px #333;
}
