html, body {
    height: 100%;
    width: 100%;
}

html {
    font-family: sans-serif;
}

html.wf-active {
    font-family: 'Lato';
}

.hero-wrap {
    height: 100%;
}

.hero {
    display: flex;
    height: 100%;
    width :100%;
    background-image: url("../images/hero-new.jpg");
    background-size: cover; 
    background-attachment: fixed;
    background-size: center center;
    position: relative;
}

.hero:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
}

.dates
{
    text-align: center;
    color: white;
    font-size: 16px;
}

.center-me {
    margin: auto;
    z-index: 1000;
}

.title {
    text-align: center;
    font-size: 60pt;
    color: white;
}


h1.heading
{

text-align: left;
margin-top: 20%;

}

.imp{
    text-align: center;
    margin-left: 14%;
    margin-right: 14%;
    font-size: 150%;
}





