
.OpenDoor{
    text-align: center;
    margin-top: 0.5%;
    font-family: 'Poiret One' , cursive;
    text-decoration: underline;
    
}

.side-text1{
    
    margin-left: 5%;
    margin-right: 55%;
    margin-top: 5%;
    font-family: 'Alegreya', serif;
    font-size: 120%;
}

.side-text{
    margin-left: 5%;
    margin-right: 55%;
    margin-top: -1.7%;
    font-family: 'Alegreya', serif;
    font-size: 120%;
}


#image{
    position: relative;
    z-index: -1;
    height: 1000px;
    
}

#content{
    
    height: 750px;
    width: 100%;
    margin-top: -10px;
    background-color: #ffe6c9;
    position: relative;
    z-index: 1;
    
}

