@font-face {
    src: url(../fonts/pnl.otf);
    font-family: 'Proxima Nova';
    font-weight: 100;
}

@font-face {
    src: url(../fonts/pnn.otf);
    font-family: 'Proxima Nova';
    font-weight: normal;
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    font-family: 'Proxima Nova';
    font-size: 16pt;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 100;
}


.hero-wrap {
    height: 100%;
}

.hero {
    display: flex;
    height: 100%;
    width :100%;
    position: relative;
    background-color: #2c303f;
}

.outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dates
{
    text-align: center;
    color: white;
    font-size: 16px;
}

.center-me {
    margin: auto;
    z-index: 1000;
}

.title {
    text-align: center;
    font-size: 60pt;
    color: white;
    font-family: 'Proxima Nova';
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 0px 0px 30px gray;
}


h1.heading
{

text-align: left;
margin-top: 20%;

}

p.imp{
    text-align: center;
    margin-left: 14%;
    margin-right: 14%;
    font-size: 150%;
}

.main {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14pt;
    line-height: 1.5;
    margin-top: 100px;
    padding-bottom: 50px;
}

i.icon-rewind {
    color: white;
    font-size: 40px;
    transform: rotate(270deg);
    width: 100%;
    text-align: center;
    margin-top: 50px;
    position: absolute;
    bottom: 25px;
    cursor: pointer;
}

iframe {
    margin-top: 75px;
    pointer-events: none;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

canvas {
    position: absolute;
}

.latin {
    text-align: center;
    color: white;
    text-transform: none;
    font-style: oblique;
    font-size: 22px;
    margin-bottom: 50px;
}
