.OpenDoor2
{
    text-align: left;
    font-family: 'Poiret One' , cursive;
    text-decoration: underline;
    font-size: 35px;
    margin-left: 5%;
    margin-top: 0.5%;
    
    
}
.OpenDoor
{
    text-align: center;
    margin-top: 0.5%;
    font-family: 'Poiret One' , cursive;
    text-decoration: underline;
    
}


h2
{
    
    font-family: 'Alegreya', serif;
    margin-top: 5%;
    margin-left: 19.5%;
    
}

.side-text1
{
    
    margin-left: 19.5%;
    margin-right: 55%;
    font-family: 'Alegreya', serif;
    font-size: 120%;
}

.side-text
{
    margin-left: 19.5%;
    margin-right: 55%;
    margin-top: -1.7%;
    font-family: 'Alegreya', serif;
    font-size: 120%;
}


#image
{
    position: relative;
    z-index: -1;
    height: 550px;
    width: 50%;
    margin-left: 25%;
    margin-top: -0.5%;
    box-shadow: 0.5px 5px 10px 5px #333;
}

#content
{
    height: 750px;
    width: 100%;
    margin-top: -10px;
    background-color: white;
    position: relative;
    z-index: 1;
    
}

nav ul
{   

    color: whitesmoke;
    letter-spacing: 0.5px;
    overflow: visible;
    text-align: center;
    margin-top: 0.5%;
  
    
}

a 
{
    text-decoration: none;
    color: black;
    
}

nav ul li
{
    display: inline-block;
    padding-right: 15px;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    letter-spacing: 0.2px;
    margin-top: 0.5%;
    padding-bottom: 1%;
    margin-right: 1%;

}

.main{
    
    margin-left: -100px;

}

.headline
{
    margin-top: 10%;
}

nav{
      
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 70px;
  box-shadow: 0px 4px 4px -5px #333;
    
}

.title-logo
{
    margin-left: -18%;
    margin-right: 10%;
    font-family: 'Rhodium Libre' , serif;
    text-decoration: underline;
    font-size: 22px;
}