h4.titlepage
{
    text-align: center;
    font-size: 400%;
    color: white;
    margin-top: 15%;
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    font-family: sans-serif;
}

html.wf-active {
    font-family: 'Lato';
}

.hero {
    display: flex;
    height: 100%;
    width :100%;
    background-image: url("../images/hero-new.jpg");
    background-size: cover; 
    background-attachment: fixed;
}

.hero:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
}

.titlepage {
    margin: auto;
    z-index: 100;
    font-weight: 100;
}

.main {
    height: 100%;
}
